services:
  magicnav:
    build:
      context: .
      args:
        DATABASE_URL: ${DATABASE_URL:-"postgresql://user:pass@host:port/dbname?sslmode=require"}
        NEXTAUTH_SECRET: ${NEXTAUTH_SECRET:-"default-secret-change-me"}
        NEXTAUTH_URL: ${NEXTAUTH_URL:-"http://localhost:3000"}
        ADMIN_EMAIL: ${ADMIN_EMAIL:-"admin@example.com"}
        ADMIN_PASSWORD: ${ADMIN_PASSWORD:-"admin123"}
        NEXT_PUBLIC_APP_URL: ${NEXT_PUBLIC_APP_URL:-"http://localhost:3000"}
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      # 设置你的数据库URL和密钥
      DATABASE_URL: ${DATABASE_URL}
      NEXTAUTH_SECRET: ${NEXTAUTH_SECRET}
      NEXTAUTH_URL: ${NEXTAUTH_URL}
      ADMIN_EMAIL: ${ADMIN_EMAIL}
      ADMIN_PASSWORD: ${ADMIN_PASSWORD}
      NEXT_PUBLIC_APP_URL: ${NEXT_PUBLIC_APP_URL}
